/*************skeleton************/
@-webkit-keyframes placeHolderShimmer {
	  0% {
	    background-position: -468px 0
	  }
	  100% {
	    background-position: 468px 0
	  }
	}
	
	@keyframes placeHolderShimmer {
	  0% {
	    background-position: -468px 0
	  }
	  100% {
	    background-position: 468px 0
	  }
	}
	
	.timeline-wrapper {
	  background-color: #e9eaed;
	  color: #141823;
	  padding: 20px;
	  border: 1px solid #ccc;
	}
	
	.timeline-item {
	  background: #fff;
	  border: 1px solid;
	  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	  border-radius: 3px;
	  padding: 12px;
	  margin: 0 auto;
	  /* max-width: 472px; */
	  min-height: 125px;
	  margin: 18px 0px;
	}
	
	.animated-background {
	  -webkit-animation-duration: 1s;
	  animation-duration: 1s;
	  -webkit-animation-fill-mode: forwards;
	  animation-fill-mode: forwards;
	  -webkit-animation-iteration-count: infinite;
	  animation-iteration-count: infinite;
	  -webkit-animation-name: placeHolderShimmer;
	  animation-name: placeHolderShimmer;
	  -webkit-animation-timing-function: linear;
	  animation-timing-function: linear;
	  background: #f6f7f8;
	  background: #eeeeee;
	  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
	  background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	  -webkit-background-size: 800px 104px;
	  background-size: 800px 104px;
	  height: 96px;
	  position: relative;
	}
	
	.background-masker {
	  background: #fff;
	  position: absolute;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	}
	
	.outlined .background-masker {
	  border: 1px solid #ddd;
	}
	
	.outlined:hover .background-masker {
	  border: none;
	}
	
	.outlined:hover .background-masker:hover {
	  border: 1px solid #ccc;
	  z-index: 1;
	}
	
	.background-masker.header-top,
	.background-masker.header-bottom,
	.background-masker.subheader-bottom {
	  top: 0;
	  left: 40px;
	  right: 0;
	  height: 10px;
	}
	
	.background-masker.header-left,
	.background-masker.subheader-left,
	.background-masker.header-right,
	.background-masker.subheader-right {
	  top: 10px;
	  left: 40px;
	  height: 8px;
	  width: 10px;
	}
	
	.background-masker.header-bottom {
	  top: 18px;
	  height: 6px;
	}
	
	.background-masker.subheader-left,
	.background-masker.subheader-right {
	  top: 24px;
	  height: 6px;
	}
	
	.background-masker.header-right,
	.background-masker.subheader-right {
	  width: auto;
	  left: 300px;
	  right: 0;
	}
	
	.background-masker.subheader-right {
	  left: 230px;
	}
	
	.background-masker.subheader-bottom {
	  top: 30px;
	  height: 10px;
	}
	
	.background-masker.content-top,
	.background-masker.content-second-line,
	.background-masker.content-third-line,
	.background-masker.content-second-end,
	.background-masker.content-third-end,
	.background-masker.content-first-end {
	  top: 40px;
	  left: 0;
	  right: 0;
	  height: 6px;
	}
	
	.background-masker.content-top {
	  height: 20px;
	}
	
	.background-masker.content-first-end,
	.background-masker.content-second-end,
	.background-masker.content-third-end {
	  width: auto;
	  left: 380px;
	  right: 0;
	  top: 60px;
	  height: 8px;
	}
	
	.background-masker.content-second-line {
	  top: 68px;
	}
	
	.background-masker.content-second-end {
	  left: 420px;
	  top: 74px;
	}
	
	.background-masker.content-third-line {
	  top: 82px;
	}
	
	.background-masker.content-third-end {
	  left: 300px;
	  top: 88px;
	}
/************ end Skeleton***********/


/************* steps css*******************/
.wizard {
    margin-bottom: 15px;
    border: 1px solid #f2f2f2;
    padding-top: 5px;
    padding-left: 5px;
}

.wizard a {
    padding: 15px 0px 15px 23px;
    margin-right: 12px;
    background: #efefef;
    position: relative;
    display: inline-block;
    margin-bottom:5px;
}


.wizard a:before {
    width: 0;
    height: 0;
    border-top: 26px inset transparent;
    border-bottom: 26px inset transparent;
    border-left: 40px solid #fff;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}
.wizard a:after {
    width: 0;
    height: 0;
    border-top: 26px inset #f0e9e900;
	border-bottom: 26px inset transparent;
	border-left: 40px solid #efefef;
    position: absolute;
    content: "";
    top: 0;
    right: -40px;
    z-index: 2;
}

.wizard a.completed{
	color: #fff;
	background-color: #02743a;
}

.wizard a.completed::after{
	color: #fff;
	border-left: 40px solid #02743a;
}

.wizard a:first-child:before,
.wizard a:last-child:after {
    border: none;
}
.wizard a:first-child {
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
}
.wizard a:last-child {
    -webkit-border-radius: 0 4px 4px 0;
       -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
            margin-right:5px;
}
.wizard .badge {
    margin: 0 5px 0 15px;
    margin-left: 20px;
    position: relative;
    top: -1px;
    background-color: #eae0e0;
    color: #00a651;
    padding: 5px;
    font-size: 12px;
}
.wizard a:first-child .badge {
    margin-left: 0;
}
.wizard .current {
    background: #0072bc;
    color: #fff;
}
.wizard .current:after {
    border-left-color: #0072bc;
}
/********************* end Step CSS ******************/
.title {
   
    color: #6f6f6f;
   
}

.color-grey{
	color:#6f6f6f;
}

.sign-in li.li-last::before{
	background-image: none !important;
}

/* .banner-job {
	background-image: url('../images/bg/header-banner.jpg');
} */

p.after-heading{
	font-size: 2.5em;
}
 a.btn {
    padding: 5px 25px 7px;
    background-color: #0072bc;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    margin-left: 20px;
}
a.btn:hover {

    background-color: #00a651;
    color: #fff;
    text-decoration: none;

}

.job-category-items {
   
    padding: 15px 0px 0px;
}

.banner-class {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 30%;
    position: absolute; 
  
    transition: opacity .8s;
}

.bottom-mrgn-4{
	margin-bottom:4px !important; 
}	
.innerbg {
    text-align: left !important;
    padding: 20px 20px 0px 20px;
}	
.user {
    padding: 20px;
}
.user img {
    float: left;
    border-radius: 50px;
}	
#flexiselDemotesti img {
    width: auto !important;
    min-width: auto !important;
}
.user-txt {
    margin-top: 50px;
    margin-bottom: 50px;
}
.user h5 {
    font-size: 14px;
    margin-top: 0px;
    position: relative;
    left: 10px;
}
#flexiselDemotesti .user {
    text-align: left;
}
.titlesection {
    position: absolute !important;
    bottom: 0px !important;
    left: 1px !important;
    right: 5px !important;
    padding-left: 8px !important;
    /* padding-right: 8px !important; */
    width: 100%;
    padding-bottom: 8px !important;
    background: -webkit-linear-gradient(transparent 0%, rgba(0, 0, 0, 0.95) 100%) !important;
    background: -moz-linear-gradient(transparent 0%, rgba(0, 0, 0, 0.95) 100%) !important;
    background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.65) 100%) !important;
}

.titlesection h3, .titlesection span, .titlesections h3, .titlesections span {
    color: #fff;
}
.paddingoff {
    padding-left: 0px;
    padding-right: 0px;
}

.height10 {
    height: 10px;
    clear: both;
}
.social-widget .fa-pinterest-square{
	color: #c1272d;
}

.social-widget .fa-instagram{
	color: #c1272d;
}

#download {
    background-image: url(../img/jar.jpg);
    }
.job-bg {
    background-image:  url(../img/jar.jpg);
}

.ico-30{
	font-size: 30px;
    top: 5px;
    position: relative;
    margin-left: 10px;


}
.green{
	color:#00a651;

}
.red{
	color:red;
}
.profile-img{
	max-width: 73px !important;
	max-height: 72px !important;
}

.addr-line{
	margin-bottom: 10px;
}


.profile .btn, .buttons .btn {
    background-color: #00a651;
    color: #fff;
    padding: 6px 26px 7px;
    border: 1px solid #00a651;
        border-top-color: rgb(0, 166, 81);
        border-right-color: rgb(0, 166, 81);
        border-bottom-color: rgb(0, 166, 81);
        border-left-color: rgb(0, 166, 81);
    /* margin: 9px 0 0;
        margin-top: 9px;
        margin-bottom: 0px; */
    margin-bottom: 20px !important;
}
.height-10{
	height: 10px !important;
}



	#getaddress_error_message{margin-top: 1px;

	clear: both;

	float: left;


	color: red;}


	.profile .del  {
	    background-color: #f26522;
	    color: #fff;
	    padding: 6px 26px 7px;
	    border: 1px solid #f26522;
	}

	.profile .del:hover {

    background-color: transparent;
    color: #f26522;
    border: 1px solid #f26522;

}

.center{
	text-align: center;
}

.font-35{
	font-size: 35px;
}


.balance li {
    position: relative;
    padding-left: 0px;
    padding-bottom: 12px;
    padding-top: 12px;
}
.balance ul{
	border-bottom: 1px solid #ddd;

}

@media screen and (max-width: 1920px) and (min-width: 1200px) {

	.col-md-quarter {
    	width: 23%;
	}

	#getaddress_error_message{

	position: relative;

	left: 135px;
	}

	 
    .banner-class {
			position: absolute; 
		 	width: 100%;
			height: 100%; 
		}
	.top-mrgn-10{
		margin-top: 10%;
	}
	.bottom-mrgn-10{
		margin-bottom: 6%;
	}

	.banner-class {
		height: 70%;
	}


	.nbs-flexisel-inner .weightbg
	{
		background:#ffffff !important;
		margin-left: 32px;
	    margin-right: 32px;
		padding-bottom:10px;
		padding-top:2px;
		border:1px solid #EDEEEE;
		border-radius:4px;
	}
	.nbs-flexisel-item img {
	    min-width: 230px;
	    cursor: pointer;
	    position: relative;
	    margin-top: 10px;
	    margin-bottom: 10px;
		max-height:150px;
		
	}

	.job-category-items {
    	margin-top: 55px;
	}

	.video .big {
    	min-height: 600px;
	}
	.left10 {
    left: 7px;
	}
	.justmove{
		min-height: 295px;
	}
	.left-112{
		position: relative;
		left: 112px;
	}

	#address_id{
	width:60%;
	float: left;
	}
	#getaddress_button{
		float: right;
		padding: 8px 40px 8px;
	}

	.radio-box{
		margin-top:10px;
	}

	.wizard {
    margin-bottom: 30px;
	}

	
	.nav-btn{
		top: 10px;
	}

	.top-30{
		top: 30px;
		position: relative;
	}

	.top-22{
		margin-top: 22px;
	}
	.top-25{
		top : 25px;
	}

	.right-10{
		margin-right : 10px;
	}
}
@media screen and (max-width: 1920px) and (min-width: 1400px) {

          
        }

@media (min-width: 1200px) {
            .container1 {
                width: 1280px;
            }

            .container1 {
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: auto;
            }


        }
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
	
}
@media(max-width: 480px){
	h1.h-responsive{
		font-size: 13px;
	}
	p.after-heading{
	font-size: 1em;
	}

	.job-category-items {
		margin-top: 30px;
		}

		.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
   
    top: 56%;
}

		#getaddress_button{
			margin-top: 10px;
			position: relative;
			left: 45px;
		}
		#getaddress_error_message{
		
	position: relative;

	left: 45px;
	}

	.section {
		padding: 35px 5px;
	}

	#header a.btn {
    	position: absolute;
		top: auto;
		right: auto;
		padding: 4px 15px 6px;
		bottom: 8px;

	}
}

.bottom-50{
    margin-bottom: 50px;
}
.distance-data ul.radio { 
  margin: 0; 
  padding: 6px 0px 0px 15px; 
  margin-left: 20px; 
  list-style: none; 
}
.example-val-from, .example-val-to {
    font: 400 12px Arial;
    color: #888;
    display: block;
    margin: 15px 0;
}
.example-val-from:before {
    content: "From: ";
    font: 700 12px Arial;
}
.example-val-to:before {
    content: "To: ";
    font: 700 12px Arial;
}
/*************** ipad ************/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
.top-mrgn-10{
		margin-top: 10%;
	}
	.bottom-mrgn-10{
		margin-bottom: 6%;
	}

	#getaddress_button{
			margin-top: 10px;
			position: relative;
			float: right;
			margin-bottom: 10px;
		}
	}
@media(max-width: 767px){
	h1.h-responsive{
		font-size: 13px;

    margin-top: 10px;
    margin-bottom: 0px;
}
h4.h-responsive{
		font-size: 10px;
}
	
	p.after-heading{
	font-size: 0.8em;
}
}

.clear-both{
	clear: both;
}